*

# Un-ignore Iso Stuff
!.gitignore
!build.sh

!.github/
!.github/**

!auto/
!auto/**

!config/
!config/**


# Un-ignore Python Stuff
!upload.py
!requirements.txt


# Un-ignore README and License
!README.md
!LICENSE